{extend name="public:base" /} {block name="style"}
<style type="text/css" rel="stylesheet">
	.hotel-box {
		width: 100%;
		height: 550px;
		background-image: url(https://z1.muscache.cn/pictures/41df549a-66b9-4202-bde0-31941e58c063.jpg);
		padding-top: 374px;
		background-size: 100% 100%;
	}
	
	.K{
		width: 35%;height: 60px;
		/*background-color: pink;*/
		/*position: absolute;*/
		/*left: 10px;*/
		margin: 0 auto;
		/*margin-top: 200px;*/
	}
	._9otl8cc{
		font-size: 17px;
		margin-top: 8px;
		height: 45px;width: 80%;
		padding-left: 10px;
	}
	._1ah1zmc{
		height: 45px;width: 100%;
		/*background-color: red;*/
		/*margin-top: 6px;*/
	}
	.btn-box{
		width: 19%;
		float: right;
		/*background-color: pink;*/
		margin-top: 8px;
	}

	.hotel-content{
		width: 70%;height: auto;
		margin:0 auto;
		/*background-color: pink; */
	}

	.title{
		width: 70%;height: 110px;
		margin:0 auto;
		line-height: 110px;
		border-bottom: 1px solid #a59898;
		color: #3dbcc6;
		font-size: 40px;
		margin-bottom: 40px;
	}
	
	.hotel-con{
		width: 31%;
		margin: 0px 1% 10px 1%;
		background-color: #e8e6e65c;
		float: left;
	}
	.hotel-con img{
		width: 100%;
	}
	.price{
		font-size: 19px;
		margin-left: 20px;
		color:black;
	}
	.price-num{
		color: #ff8300;
	    font-size: 27px;
	    font-weight: bold;
	    display: inline-block;
	    margin-top: 15px;
	}
	.commit,.traffic{
		width: 100%;
		margin-top: 5px;
		font-size: 15px;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		margin-left: 20px;
	}

	.traffic{
		color: #9a9a9a;
	}
	.paging{
		/*height: 20px;width: 100%;*/
		text-align: center;
	}
	
</style>
{/block} 

{block name="container"}

<div class="hotel-box">
	<div class="K">
		<form class="" action="{:url('index/Hotel/index')}" method="get">						
			
				<input autocomplete="off" class="_9otl8cc" id="Geocomplete" name="query" placeholder="目的地，城市，地址" value="{$Think.get.query}" type="text">
					
				<div class="btn-box">
					<input type="submit" class="_1ah1zmc btn btn-info" value="搜索" />
				</div>
		</form>		
	</div>
</div>
	<!-- <div class="" style="background-image: url(&quot;https://z1.muscache.cn/pictures/41df549a-66b9-4202-bde0-31941e58c063.jpg&quot;);"></div> -->
<div class="title">
	精选系列...
</div>

<div class="hotel-content">
	
	{volist name="data" id="item"}
	<div class="hotel-con">
		<img src="/uploads/hotel/{$item.img}"/>
		<div class="price">
			<div class="price-num">
				￥{$item.price}
			</div>
			元/月
		</div>
		<div class="commit">{$item.commit}</div>
		<div class="traffic">{$item.traffic}</div>
	</div>
	{/volist}

</div>


<div class="paging">
	{$data->render()}
</div>
 

{/block}

{block name="javaScript"}
<script type="text/javascript">
	$('.hotel-con').height($('.hotel-con').width()*1.02);
	$('.hotel-con img').height($('.hotel-con img').width()*0.75);

	if($('.hotel-con').length%3==0){
		$('.hotel-content').height(($('.hotel-con').height()+10)*$('.hotel-con').length/3);
	}else{
		console.log($('.hotel-con').height()*(Math.floor($('.hotel-con').length/3)+1));
		$('.hotel-content').height(($('.hotel-con').height()+12)*(Math.floor($('.hotel-con').length/3)+1));
	}
	
</script>
{/block}