<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  	<link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  	<link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" media="all" />
  	<style rel="stylesheet">
  		.picture{
			/*border: 1px solid black;*/
			height: 400px;
		}
  	</style>
</head>
<body style="padding:10px;">
	<div class="tplay-body-div">

		<div class="layui-tab">
		  <a href="{:url('admin/Hotel/index')}" class="layui-btn layui-btn-sm layui-btn-primary" >返回列表</a>
		</div>

		<div style="margin-top: 20px;">
    	</div>

    	<form class="form-horizontal" method="post" action="{if isset($datali['id']) && !$datali['id']==''}{:url('admin/Hotel/update')}{else}{:url('admin/Hotel/save')}{/if}" enctype="multipart/form-data" method="post">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">价格</label>
				<div class="col-sm-5">
					<input type="number" name="price" class="form-control" id="inputEmail3" placeholder="月租价格" value="{$datali['price']|default=''}">
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">备注</label>
				<div class="col-sm-5">
					<textarea placeholder="请输入地址或备注" class="layui-textarea" name="commit">{$datali['commit']|default=''}</textarea>
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">交通</label>
				<div class="col-sm-5">
					<input type="text" name="traffic" class="form-control" id="inputEmail3" placeholder="交通状况" value="{$datali['traffic']|default=''}">
				</div>
			</div>

			<div class="form-group">
				<label  class="col-sm-2 control-label">图片</label>
				<div class="col-sm-5 picture">
					<label for="file_upload1" class="btn  btn-primary col-sm-2">
						选择
					</label>
					<input class="file_upload hidden" hidden="hidden" name="img"  type="file"  id="file_upload1" />
					<img src="/uploads/hotel/{$datali['img']|default=''}" class="preview" width="90%" height="90%" for="file_upload1.onclick()">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 "></label>
		        <div class="col-sm-5">
		        	<input type="hidden" name="id" value="{$datali['id']|default=''}">
		          	<button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
		          	<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		        </div>
      		</div>
		</form>

	</div>
</body>
<script src="__PUBLIC__/jquery/jquery.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/layui/layui.js"></script>
<script type="text/javascript" charset="utf-8">
	$(function() {
        $(".file_upload").change(function() {
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            var dataURL;

            var $img = $(this).next();

 
            if(fileObj && fileObj.files && fileObj.files[0]){
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                $img.attr('src',dataURL);
            }else{
                dataURL = $file.val();

                var imgObj = document.getElementByClass("preview");
                // 两个坑:
                // 1、在设置filter属性时，元素必须已经存在在DOM树中，动态创建的Node，也需要在设置属性前加入到DOM中，先设置属性在加入，无效；
                // 2、src属性需要像下面的方式添加，上面的两种方式添加，无效；
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
 
            }
        });
    });
    
</script>
</html>