<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css" media="screen">
		.box{
			height: 180px;width: 360px;
			border: 1px solid #9f9090;
			margin-bottom: 5px;
			margin-left: 30px;
			box-shadow: 10px 10px 5px #807b7b;
		}
		.picture{
			float: left;width: 310px;height: 100%;
		}
		.btn_box{
			float: left;width: 49px;height: 100%;
			border-left: 1px solid #9f9090;
		}
		.bt{
			height: 50%;width: 100%;line-height: 90px;text-align: center;
		}
	</style>
</head>
<body>
	<form action="{:url('admin/Homephoto/homephoto')}" method="post" accept-charset="utf-8">
		<div class="box">
			<div class="picture">
				
			</div>
			<div class="btn_box">
				<div class="bt"></div>
				<div class="bt"></div>
			</div>
		</div>
	</form>
</body>
<script src="/javascripts/application.js" type="text/javascript" charset="utf-8">
	
</script>
</html>