{extend name="public:base" /}

{block name="style"}
<style type="text/css" rel="stylesheet">


</style>
{/block}

{block name="container"}


<div class="wrapper clearfix" style="min-height: 400px;">
			
	<div class="fr roomcenter">
		<div class="hp_title">
			<div class="hp_t_h">
				<h1>加入蛋壳</h1>
			</div>
			<span class="hp_t_line"></span>
		</div>
		<div class="joinbox">
			<div class="jointext">
				应聘信息投递邮箱
			</div>
			
			
		</div>
	</div>
</div>

{/block}

{block name="javaScript"}
<script type="text/javascript">

</script>
{/block}