{extend name="public:base" /} {block name="style"}
<style type="text/css" rel="stylesheet">
	.hotel-box {
		width: 100%;
		height: 650px;
	}
	
	._1bkpw4e {
		height: 100%;
		width: 100%;
		background-size: 100% 100%;
	}
	
	._1ah1zmc{
		background-color: #FF5A5F;
		height: 96px;width: 72px;
		box-sizing: border-box;
		color: rgb(72, 72, 72);
		display: table-cell;
		font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC";
		font-size: 19px;
		line-height: 24px;
		vertical-align: middle;
	}
	
</style>
{/block} {block name="container"}

<div class="hotel-box">

	<div class="_1bkpw4e" style="background-image: url(&quot;https://z1.muscache.cn/pictures/41df549a-66b9-4202-bde0-31941e58c063.jpg&quot;);"></div>

</div>

<div class="_1mxmmj5">
	<div class="_puzkdo">
		<div>
			<div tabindex="-1" class="_1dgzrp6i">
				<div>
					<form class="_2930ex" action="/s/all" method="get">						
						<div class="_178faes">
							<input autocomplete="off" class="_9otl8cc" id="Geocomplete" name="query" placeholder="目的地，城市，地址" value="" type="text">
						</div>			
						<div class="_17u98ky">
							<!--<button tabindex="0" type="submit" class="_1ah1zmc">搜索</button>-->
							<input type="submit" class="_1ah1zmc" value="搜索" />
						</div>
					</form>
				</div>
				<div></div>
			</div>
		</div>
	</div>
</div>

{/block} {block name="javaScript"}
<script type="text/javascript">
	
	
</script>
{/block}